.wrapper.top
  .grid_8
    .grid_4.first
      .panel.padding1.background_gray_clear
        %h3
          = t :new_station
        .form
          .clearfix
            = f.label :name
            = f.text_field :name, :required => true
          .clearfix
            = f.label :standard_type_id
            = f.collection_select :standard_type_id, PConfig::StandardType.all.sort_by(&:name), :id, :name, {:include_blank => true}, :required => true
          .clearfix
            = f.label :type_of_production
            = f.select :type_of_production, options_for_select([["Batch", "batch"],["Lineal", "lineal"]], @station.type_of_production), {:required => true} #:type_of_production
          .clearfix
            = f.label :ip_station
            = f.text_field :ip_station, :class => "validate[required,custom[ip]]", :required => true
            %a.action-button.top.float_right{:id => "ping"}
              %span.connect
          .clearfix
            = f.label :is_enabled
            = f.check_box :is_enabled
          .clearfix
            = f.label :description
            = f.text_area :description
    .grid_4.top
      .panel.padding1.background_gray_clear
        .ar
          .clearfix.top
            %button.button.background_orange.white{:type => "submit"}
              = t :save
            %button.button.background_gray.gray{:type => "reset"}
              = t :clear
            %a.button.background_gray.gray{:href => p_config_stations_path}
              = t :cancel

:javascript
  $(document).ready(function(){
    
    //Test Ping FIXME Falta acomodar funcion
    $("#ping").click(function(){
      var ip_station = $("#p_config_station_ip_station").val(),
          span = $(this);
      if(ip_station){
        span.find("span").removeAttr('class').attr('class', 'help');
        $.get("/p_config/stations/comprovate_ip",{ip_station: ip_station}).done(function(data){
          if(data["ping"]){
            span.find("span").removeAttr('class').attr('class', 'accept');
          }else{
            span.find("span").removeAttr('class').attr('class', 'exclamation-red');
          }
        });
      }else{
        span.find("span").removeAttr('class').attr('class', 'cross');
      }
    });
  });