= form_for @station, :url=>{:controller=>"p_config/stations",:action=> "update"} do |f|
  .wrapper.top
    .grid_8
      .grid_4.top
        .grid_1.top
          .panel.padding1{:style => "height:220px;"}
            %table.style.full
              %thead
                %tr{:style => "text-align:center;"}
                  %th
                    = t "products"
              %tbody.add_product
        .grid_2.top
          .panel.padding1.background_gray_clear
            %table
              %tr
                %td
                  = t "products"
              %tr
                %td
                  -option_station=@station.product_stations.blank? ? 0 : @station.product_stations.map{|r| r.station_id}.join(",")
                  = select_tag :product_id, options_for_select(PConfig::Product.for_lineal(@station.type_of_production).where("products.id not in (#{option_station})").map{|prod| [prod.name, prod.id]}), { :size =>11, :style => "width:150px;"}
      .grid_4.top
        .grid_1.top
          .panel.padding1{:style => "height:220px;"}
            %table.style.full
              %thead
                %tr{:style => "text-align:center;"}
                  %th
                    = t "users"
              %tbody.add_users
        .grid_2.top
          .panel.padding1.background_gray_clear
            %table
              %tr
                %td
                  = t "users"
              %tr
                %td
                  = select_tag :user_id, options_for_select(PConfig::User.all.map{|row| [row.name, row.id]}), :size =>11, :style => "width:150px;"
      
      .grid_4.top
        .panel.padding1.background_gray_clear
          .ar
            .clearfix.top
              %button.button.background_orange.white{:type => "submit"}
                = t :save
              %button.button.background_gray.gray{:type => "reset"}
                = t :clear
              %a.button.background_gray.gray{:href => p_config_stations_path}
                = t :cancel
:javascript
  var index = 0;
  function remove_group(objectId,textName,string3){
    $("#"+string3+"_"+objectId).remove(); 
    $("#"+string3).append('<option value="' + objectId +'">' +  textName + '</option>');
  }
  $(document).ready(function(){
    chargeItems();
    chargeItemsProduct()
    $('#product_id').click(function(e) {
      var productId =$(this).find("option:selected").val();
      var userText =$(this).find("option:selected").text();
      prefixId = getId("p_config_station","product_stations","product_id");
      prefixName = getName("p_config_station","product_stations","product_id");
      add_group(productId,prefixId,prefixName,userText,"product_id","add_product");
      $(this).find("option:selected").remove();
    });
    $('#user_id').click(function(e) {
      var userId =$(this).find("option:selected").val();
      var userText =$(this).find("option:selected").text();
      prefixId = getId("p_config_station","station_users","user_id");
      prefixName = getName("p_config_station","station_users","user_id");
      add_group(userId,prefixId,prefixName,userText,"user_id","add_users");
      $(this).find("option:selected").remove();
    });
    function chargeItemsProduct(){
      charge("#{@station_products.join(",")}","p_config_station","product_stations","product_id","add_product");
    }
    function chargeItems(){
      charge("#{@array_users.join(",")}","p_config_station","station_users","user_id","add_users");
    }
    function charge(objectArray,object1,object2,fieldName,addObject){
      for (var i = 0, f; f = objectArray.split(",")[i]; i++) {
        tmp = f.split("|")
        objectId = tmp[1];
        text = tmp[0];
        prefixId = getId(object1,object2,fieldName);
        prefixName = getName(object1,object2,fieldName);
        add_group(objectId,prefixId,prefixName,text,fieldName,addObject);
        $("#"+fieldName).find("option[value='" + tmp[1] + "']").remove();
      }
    }
    function getName(object1,object2,fieldName){
      return object1+"["+object2+"_attributes]"+"["+index+"]"+"["+fieldName+"]";
    }
    function getId(object1,object2,fieldName){
      return object1+"_"+object2+"_attributes_"+index+"_"+fieldName;
    }
    function add_group(objectId,prefixId,prefixName,text,fieldName,addObject){    
      element = "<tr onclick='remove_group("+objectId+",&quot;"+text+"&quot;"+",&quot;"+fieldName+"&quot;);' id='"+fieldName+"_"+ objectId +"'><td>";
      element += "<input id='" + prefixId + "' name='" + prefixName + "' value='" + objectId + "' type='hidden'/>";
      element += "<text_field style='text-align:center;'>" + text + "</text_field>";
      element += "</td></tr>";
      
      $("."+addObject).append(element);
      index += 1;
    }
  });