.wrapper
  .grid_8.top
    .grid_3
      .panel
        .clearfix
          = f.label :name
          = f.text_field :name, :required=>"required"
        .clearfix
          = f.label :is_active
          = f.check_box :is_active
        .clearfix
          =f.label :description
          %br
          = f.text_area :description, :style => "width:220px;height:100px"
        .clearfix
          %button.button.button-blue{:type => "submit"}
            = t :save
          