%section#content
  .wrapper
    %section.grid_8.first
      %h4
        ="Medico: #{current_user.login}"
      %br
        =link_to "Nueva Cita", new_cite_path
      .columns
        .grid_4.first
          %table.paginate.sortable.full
            %thead
              %tr{:style => "text-align:center;"}
                %th
                  = "Nombre"
                %th
                  = "Doctor"
                %th
                  = "Fecha Cita"
                %th
                  = "Descripcion"
                %th
                %th
            %tbody
              - @cites.each do |cite|
                %tr
                  %td{:style => "text-align:center;"}
                    =cite.patient.name
                  %td{:style => "text-align:center;"}
                    =cite.user.name
                  %td{:style => "text-align:center;"}
                    =cite.date_cite
                  %td{:style => "text-align:center;"}
                    =cite.description
                  %td
                    =#link_to "Eliminar", cite_path(cite.id), :method=>:delete, :confirm => "Positive?"
                  %td
                    =link_to "Iniciar Consulta", new_patient_consult_path(cite.patient_id,:cite_id=>cite.id)
