.wrapper.top
  .grid_6.first
    %hr
    %h2
      = t :operating_parameters
    %hr
    .grid_2.top.first
      %h3.background_gray_clear.gray
        = PConfig::Product.model_name.human(:count => :other)
      %table.full.not-style
        %tr
          %td
            %a.not_decoration.blue{:href => p_config_product_types_path}
              = PConfig::ProductType.model_name.human(:count => :other)
          %td.ar
            = PConfig::ProductType.count.to_s
        %tr
          %td
            %a.not_decoration.blue{:href => p_config_products_path}
              = PConfig::Product.model_name.human(:count => :other)
          %td.ar
            = PConfig::Product.count.to_s
    
    .grid_2.top
      %h3.background_gray_clear.gray
        = PConfig::BootVariable.model_name.human(:count => :other)
      %table.full.not-style
        %tr
          %td
            %a.not_decoration.blue{:href => p_config_boot_variables_path}
              = PConfig::BootVariable.model_name.human(:count => :other)
          %td.ar
            = PConfig::BootVariable.count.to_s
        //%tr
        //%td
        //    %a.not_decoration.blue{:href => p_config_fixed_amounts_path}
        //      = PConfig::FixedAmount.model_name.human(:count => :other)
        //  %td.ar
        //    = PConfig::FixedAmount.count.to_s
    
    .grid_2.top
      %h3.background_gray_clear.gray
        = PConfig::Input.model_name.human(:count => :other)
      %table.full.not-style
        %tr
          %td
            %a.not_decoration.blue{:href => p_config_inputs_path}
              = PConfig::Input.model_name.human(:count => :other)
          %td.ar
            = PConfig::Input.count.to_s
    .clear
    
    .grid_2.top.first
      %h3.background_gray_clear.gray
        = PConfig::Standard.model_name.human(:count => :other)
      %table.full.not-style
        %tr
          %td
            %a.not_decoration.blue{:href => p_config_standard_types_path}
              = PConfig::StandardType.model_name.human(:count => :other)
          %td.ar
            = PConfig::StandardType.count.to_s
        %tr
          %td
            %a.not_decoration.blue{:href => p_config_standards_path}
              = PConfig::Standard.model_name.human(:count => :other)
          %td.ar
            = PConfig::Standard.count.to_s
    
    .grid_2.top
      %h3.background_gray_clear.gray
        = PConfig::Station.model_name.human(:count => :other)
      %table.full.not-style
        %tr
          %td
            %a.not_decoration.blue{:href => p_config_stations_path}
              = PConfig::Station.model_name.human(:count => :other)
          %td.ar
            = PConfig::Station.count.to_s
        %tr
          %td
            %a.not_decoration.blue{:href => p_config_line_sets_path}
              = PConfig::LineSet.model_name.human(:count => :other)
          %td.ar
            = PConfig::LineSet.count.to_s
  .grid_2
    .panel.padding3
      %a.button.background_orange.white{:href => home_path}
        = t :home
  .clear
  
  .grid_6.top.first
    %hr
    %h2
      = t :production_parameters
    %hr
    .grid_2.top.first
      %h3.background_gray_clear.gray
        = PConfig::User.model_name.human(:count => :other)
      %table.full.not-style
        %tr
          %td
            %a.not_decoration.blue{:href => p_config_users_path(:user_type => :is_operator)}
              = t :new_operator
          %td.ar
            = PConfig::User.is_operator.count.to_s
        %tr
          %td
            %a.not_decoration.blue{:href => p_config_users_path(:user_type => :is_manager)}
              = t :new_user
          %td.ar
            = PConfig::User.is_manager.count.to_s
    
    .grid_2.top
      %h3.background_gray_clear.gray
        = PConfig::Stoppage.model_name.human(:count => :other)
      %table.full.not-style
        %tr
          %td
            %a.not_decoration.blue{:href => p_config_stoppages_path}
              = PConfig::Stoppage.model_name.human(:count => :other)
          %td.ar
            = PConfig::Stoppage.count.to_s
    
    .grid_2.top
      %h3.background_gray_clear.gray
        = PConfig::WorkTime.model_name.human(:count => :other)
      %table.full.not-style
        %tr
          %td
            %a.not_decoration.blue{:href => p_config_work_times_path}
              = PConfig::WorkTime.model_name.human(:count => :other)
          %td.ar
            = PConfig::WorkTime.count.to_s
    .clear
    
    .grid_2.top.first
      %h3.background_gray_clear.gray
        = PConfig::Event.model_name.human(:count => :other)
      %table.full.not-style
        %tr
          %td
            %a.not_decoration.blue{:href => p_config_events_path}
              = PConfig::Event.model_name.human(:count => :other)
          %td.ar
            = PConfig::Event.count.to_s

