.wrapper.top
  / Main Section
  .grid_6.first
    .grid_3.first
      %h3
        = t :product_type
      .panel.padding1.background_gray_clear
        %table.no-style.full
          .form
            %tbody
              %tr
                %td
                  = t :name
                %td.ar
                  = @product_type.name
              %tr
                %td.al
                  = t :type 
                %td.ar
                  = @product_type.type
              %tr
                %td.al
                  = t :description
                %td.ar
                  = @product_type.description
              %tr
                %td.al
                  = t :is_enabled
                %td.ar
                  = @product_type.is_enabled
  %h3
    &nbsp;
  .grid_2
    .panel.padding3
      %a.button.background_gray.gray{:href => p_config_product_types_path(:user_type => params[:user_type])}
        = t :return
      %a.button.background_orange.white{:href => edit_resource_path(:user_type => params[:user_type])}
        = t :edit
