%table.style.full
  -links = [] if links.blank? 
  %thead
    %tr
      - fild_names.each do |fild_name|
        %th
          = t("activerecord.attributes.#{request.request_uri.singularize.gsub('/','.')}."+fild_name.to_s)
      - links.each do |fild_name|
        %th
  %tbody
    - objects.each do |object|
      %tr
      - fild_names.each do |fild_name|
        %td.ac
          -if fild_name == "name".to_sym
            =object.name
          -elsif object[fild_name.to_sym].class.to_s == "TrueClass"
            -#FIXME arreglar la traduccion, no quiere funcionar
            =object[fild_name.to_sym] ? "Si" : "No"
          -else
            =object[fild_name.to_sym]
      - links.each do |link|
        -table_name = request.request_uri
        -if link == "show"
          %td
            %a.action-button{:href => "#{table_name}/#{object.id}"}
              %span.magnifier
        -elsif link == "edit"
          %td
            %a.action-button{:href => "#{table_name}/#{object.id}/edit"}
              %span.pencil
        -elsif link == "delete"
          %td
            =link_to link, "#{table_name}/#{object.id}", :method=> :delete
        -elsif link == "add_standard"
          %td
            %a.action-button{:href => new_configuration_standard_path(:product_id => object.id)}
              %span.add
