%table.style.full
  -links = [] if links.blank? 
  %thead
    %tr
      - fild_names.each do |fild_name|
        %th
          = t("activerecord.attributes.#{request.path.singularize.sub('/','.')}."+fild_name.to_s)
      - links.each do |fild_name|
        %th
  %tbody
    - objects.each do |object|
      %tr
      - fild_names.each do |fild_name|
        %td.ac
          -if fild_name == "name".to_sym
            =object.name
          -elsif object[fild_name.to_sym].class.to_s == "TrueClass"
            -#FIXME arreglar la traduccion, no quiere funcionar
            =object[fild_name.to_sym] ? "Si" : "No"
          -elsif fild_name["id"]
            -case fild_name
            -when :station_id
              =object.station.nullo.name.if_nil("-")
            -when :product_id
              =object.product.nullo.name.if_nil("-")
            -when :standard_id
              =object.standard.nullo.name.if_nil("-")
            -when :product_type_id
              =object.product_type.nullo.name.if_nil("-")
            -when :work_time_id
              =object.work_time.nullo.name.if_nil("-")
            -when :boot_variable_id
              =object.boot_variables.nullo.first.name.if_nil("-")
            -else
              =object[fild_name.to_sym]
          - elsif object[fild_name.to_sym].to_s['#']
            #div{:style => "background:#{object[fild_name.to_sym]}; color:#{object[fild_name.to_sym]}"}
              = object[fild_name.to_sym]
          -else
            = object[fild_name.to_sym]
      - links.each do |link|
        -table_name = request.path
        -if link == "show"
          %td
            -params = request.fullpath.split("?")[1]
            %a.action-button{:href => "#{table_name}/#{object.id}"+(params.present? ? "?#{params}" : "")}
              %span.magnifier
        -elsif link == "edit"
          %td
            -params = request.fullpath.split("?")[1]
            %a.action-button{:href => "#{table_name}/#{object.id}/edit"+(params.present? ? "?#{params}" : "")}
              %span.pencil
        -elsif link == "delete"
          %td
            =link_to link, "#{table_name}/#{object.id}", :method=> :delete
        -elsif link == "add_standard"
          %td
            %a.action-button{:href => new_p_config_standard_path(:product_id => object.id)}
              %span.add
        -elsif link == "clone"
          %td
            %a.action-button{:href => "#{table_name}/new?object_id=" + object.id.to_s}
              %span.page-copy