.menu-config-push
  .menu-config.menu-config-horizontal.menu-config-bottom#menuConfig
    %a.background_blue{:href => patients_path}
      %h2.white.cursive.not_bold.shadow.float_left
        = t :patients
      %img{:src => "images/d02/icons/patients.png"}
    %a.background_blue{:href => cites_path}
      %h2.white.cursive.not_bold.shadow.float_left
        = t :diary
      %img{:src => "images/d02/icons/diary.png"}
    %a.background_blue{:href => "#"}
      %h2.white.cursive.not_bold.shadow.float_left
        = t :invoices
      %img{:src => "images/d02/icons/invoices.png"}
    %a.background_blue{:href => home_configurations_path}
      %h2.white.cursive.not_bold.shadow.float_left
        = t :configuration
      %img{:src => "images/d02/icons/engine.png"}
    #push
      %h4
        = "Footer"

:javascript
  $(document).ready(function(){
    var menuConfig = document.getElementById( 'menuConfig' ),
        isOpenMenu = localStorage.getItem("isOpenMenu");
    
    if (typeof(Storage) != "undefined" && isOpenMenu == "true"){
      classie.toggle( menuConfig, 'menu-config-open' );
    }
    
    $('#showConfig').click(function(){
      if(isOpenMenu == "true"){
        localStorage.setItem("isOpenMenu", "false");
      }else{
        localStorage.setItem("isOpenMenu", "true");
      }
      classie.toggle( menuConfig, 'menu-config-open' );
    });
  });