.grid_8
  .grid_8.first
    //Menu Config
    .float_left.top
      %img{:src => "images/d02/icons/assistant.png", :id => "showConfig"}
      = render :partial => "/partials/menu_config"
  //Calendar
  .grid_6.first
    = form_for @process_cite, :as=>:process_cite, :url =>process_cite_cites_path, :metod=>:post do |f|
      = hidden_field_tag :selected_date
      = hidden_field_tag :event_duration
      = render :partial => "/partials/calendar"
  // Filter Medics
  .grid_2
    .panel
      %h3
        = t :medics
      %table.full.no-style
        - @medics.each do |medic|
          %tr.background_aqua
            %td
              = medic.medic.name
   
  .grid_2
    %a{:href => "#", :class => "modal", :rel => "#test"}
      = "Aqui"

#test.widget.panel.background_gray_clear
  .content.padding
    = "esto es un test para la modal"

:javascript
  $(document).ready(function(){
    calendar({event_duration:40});
  })
