.wrapper.top
  // Lineal
  %h1.bold
    = "Lineal"
  %hr/
  .left_graph.float_left
  #slider.float_left
    %ul
      - @type_line.each do |working_day|
        %li{:working_day_id => working_day.id}
          = render :partial => "partials/grids_manager", :locals => {:working_day => working_day}
  .right_graph.float_right
  
  // Grahps and Description for station
  .grid_8.top
    .grid_5.first{:style => "margin:0 0 0 54px"}
      .chart#select_graph.panel.bold.ac.background_gray_clear
    
    .grid_2.panel{:style => "width:245px; height:300px;"}
      #description
        %h3.ac
          #station_name
            = @station_name
          %hr/
        = render :partial => "partials/description"

// Modal Graphic Projection
#graphic_projection.widget.panel.padding3.background_white{:style => "width:900px; height:350px;"}
  .content
    = render :partial => "partials/graphic_projection"

  .clear
.clear
%hr.top

.wrapper.top
  %h1
    = t :reports
  %hr/
  .grid_8.top
    .grid_2.first
      
  .clear
.clear
#push

:javascript
  $(document).ready(function(){
    
    // Vars
    var select_graph = $("#select_graph");
    var description = $("#description");
    var hash_garph_init = #{@graph_first_station.to_json};
    
    //Graph Station Type Line Init
    if(hash_garph_init.length > 0){
      select_graph.Chart(hash_garph_init, {type:"LineChart", chart_height:"300px", tooltips:false, showLegend:true, formatX:'%X'},{ top:20, right:30, bottom:20, left:30 });
    }else{
      notFoundGraph();
    }
    
    // Carusel
    function moveLeft() {
      $('#slider ul').animate({
        left: + $('#slider ul li').width()
      }, 200, function () {
          $('#slider ul li:last-child').prependTo('#slider ul');
          $('#slider ul').css('left', '');
      });
    };

    function moveRight() {
      $('#slider ul').animate({
        left: - $('#slider ul li').width()
      }, 200, function () {
          $('#slider ul li:first-child').appendTo('#slider ul');
          $('#slider ul').css('left', '');
      });
    };

    $('.left_graph').live("click", function () { moveLeft(); });
    $('.right_graph').live("click", function () { moveRight(); });
    
    // Select Station
    $('#slider ul li').live("click", function(){
      var station = $(this);
      markedStation(station);
      working_day_id = station.attr("working_day_id");
      selectToGraph(working_day_id);
    });
    
    // Select Graph for Station
    function selectToGraph(working_day_id){
      select_graph.empty();
      $.get("home/select_graph",{working_day_id: working_day_id}).done(function(data){
        if(data["graph"].length > 0){
          select_graph.Chart(data["graph"], {type:"LineChart", chart_height:"300px", tooltips:false, showLegend:true, formatX:'%X'},{ top:20, right:30, bottom:20, left:30 });
        }else{
          notFoundGraph();
        }
        loadDescription(data);
      });
    }
    
    // Not Found Graph
    function notFoundGraph(){
      // Graph
      select_graph.css("height", 300);
      select_graph.css("font-size", 26);
      select_graph.html("Grafica no Disponible");
      select_graph.css("line-height", "285px");
      // Description
      clearDescription();
    }
    
    // Marked and UnMarked Stations
    function markedStation(station){
      unmarkedStation();
      station.attr("class","active");
    }
    
    function unmarkedStation(){
      $('#slider ul').find(".active").removeClass("active");
    }
    
    // Load description
    function loadDescription(data){
      description.find("#station_name").html(data["station_name"]);
      description.find("#standard_name").html(data["standard_name"]);
      description.find("#check_in").html(data["check_in"]);
      description.find("#check_out").html(data["check_out"]);
    }
    
    function clearDescription(){
      
    }
    
  })
