.wrapper.top
  .grid_8
    .grid_4.first.panel.padding1.background_gray_clear
      %h3
        = PConfig::StandardType.model_name.human
      .form
        .clearfix
          = f.label :name
          = f.text_field :name, :required => true
        %hr/
        .ar
          .clearfix.top
            %button.button.background_orange.white{:type => "submit"}
              = t :save
            %button.button.background_gray.gray{:type => "reset"}
              = t :clear
            %a.button.background_gray.gray{:href => p_config_standard_types_path}
              = t :cancel


