.wrapper.top
  .grid_8
    .grid_4.first.panel.padding1.background_gray_clear
      %h3
        = t :new_user
      .form
        = f.fields_for :person, @person do |p|
          .clearfix
            =p.label :name
            =p.text_field :name
          .clearfix
            =p.label :last_name
            =p.text_field :last_name
        .clearfix
          = f.label :login 
          = f.text_field :login 
        .clearfix
          = f.label :password 
          = f.password_field :password 
        .clearfix
          = f.label :password_confirmation
          = f.password_field :password_confirmation 
        .clearfix
          = f.label :email
          = f.text_field :email 
        .clearfix
          = f.label :is_enabled
          = f.check_box :is_enabled
        %hr/
        .ar
          .clearfix.top
            %button.button.background_orange.white{:type => "submit"}
              = t :save
            %button.button.background_gray.gray{:type => "reset"}
              = t :clear
            %a.button.background_gray.gray{:href => p_config_users_path}
              = t :cancel
