.wrapper.top
  .grid_8
    .grid_4.first.panel.padding1.background_gray_clear
      %h3
        = t :new_product
      .form
        .clearfix
          = f.label :name
          = f.text_field :name, :required => true
        .clearfix
          = f.label :product_type_id
          = f.select :product_type_id, []
        .clearfix
          = f.label :description
          = f.text_area :description
        .clearfix
          = f.label :is_enabled
          = f.check_box :is_enabled
        %hr/
        .ar
          .clearfix.top
            %button.button.background_orange.white{:type => "submit"}
              = t :save
            %button.button.background_gray.gray{:type => "reset"}
              = t :clear
            %a.button.background_gray.gray{:href => p_config_products_path}
              = t :cancel

