.wrapper.top
  .grid_8
    .grid_2.first
      .panel
        %h4
          ="Paciente: #{@consult.patient.name}"
          =flash[:warning]
          =@consult.errors.full_messages if @consult.errors.present?
        = f.fields_for :medical_record, MedicalRecord.new do |m|
          = m.hidden_field :user_id, :value=>@consult.user_id
          = m.hidden_field :patient_id, :value=>@consult.patient_id
          .clearfix
            = m.label :year_old
            = m.text_field :year_old, :style=>"width:50px;"
          .clearfix
            = m.label :weight
            = m.text_field :weight, :style=>"width:50px;"
          .clearfix
            = m.label :height
            = m.text_field :height, :style=>"width:50px;"
          .clearfix
            = m.label :temperature
            = m.text_field :temperature, :style=>"width:50px;"
        .clearfix
          = f.label :description
          = f.text_area :description, :style=>"width:150px;height:120px;"
          = f.hidden_field :user_id
          = f.hidden_field :patient_id
          = f.hidden_field :cite_id
        %hr/
        .ar
          .add-element.button
            = "agregar"
        %button.button{:type => "submit"}
          = t :save
        =link_to "atras", patients_path, :class=>"button button-red"
    .grid_3
      .panel
        = f.fields_for :prescription, Prescription.new do |p|
          = p.hidden_field :user_id, :value=>@consult.user_id
          = p.hidden_field :patient_id, :value=>@consult.patient_id
          = p.fields_for :medicines, Medicine.new do |m|
            .clearfix
              = m.label :medicine
              = m.text_field :medicine, :style=>"width:300px;"
            .clearfix
              = m.label :dose
              = m.text_field :dose, :style=>"width:100px;"
            .clearfix
              = m.label :description
              = m.text_area :description, :style=>"width:300px;height:60px;"
      .add-items
    .grid_3
      .panel
        = f.fields_for :consult_services, ConsultService.new do |c|
          .clearfix
            =select_tag "services", options_for_select(Service.by_medic(current_user.id).sort_by(&:name).map{|s| [s.name,s.id]})
            .add-element-service.button
              = "agregar"
      .add-services
:javascript
  function removeItem(add_index){
    $('div fieldset.add_id' + add_index).remove();
  }
  function removeService(add_index){
    $('div fieldset.add_service' + add_index).remove();
  }
  $(document).ready(function(){
    var index = 2;
    $(".add-element").click(function() {
      var prefix_name = "consult[prescription_attributes][medicines_attributes]["+index+"]";
      var prefix_id = "consult_prescription_attributes_medicines_attributes_"+index+"_";
      var add_id = "add_id"+index;
      var element = "<fieldset class='" + add_id + " panel'>"
      element += "<tr><td><label for='consult_prescription_attributes_medicines_attributes_0_medicine'>" + 'Medicine' + ":</label><input class='add_element' id='"+prefix_id+"medicine' name='"+prefix_name+"[medicine]' style='width:300px' type='text'/></td></tr>"
      element += "<tr><td><label for='consult_prescription_attributes_medicines_attributes_0_dose'>" + ' Dose' + ":</label><input class='add_element' id='"+prefix_id+"dose' name='"+prefix_name+"[dose]' style='width:100px' type='text'/></td></tr>"
      element += "<td><label for='consult_prescription_attributes_medicines_attributes_0_description'>" + 'description' + ":</label><textarea class='add_element'  id='"+prefix_id+"description' name='"+prefix_name+"[description]' style='width:300px;height:60px;'/></td>"
      element += "<td><a class='remove-element button' href='#' onclick='removeItem(" + index + ");'>remove</span></a></td>"
      element += "</fieldset>";
      var addElement = $(element) ;
      addElement.appendTo(".add-items") ;
      index = index + 1 ;
    }) ;
    var indexService = 0;
    $(".add-element-service").click(function() {
      var prefix_name = "consult[consult_services_attributes]["+indexService+"]"
      var prefix_id = "consult_consult_services_attributes_"+indexService+"_";
      var value_service = $("#services").find("option:selected").val()
      var add_id = "add_service"+indexService;
      var element = "<fieldset class='" + add_id + " panel'>"
      element += "<tr><td><label for='consult_prescription_attributes_medicines_attributes_0_service_id'>" + value_service + ":</label><input class='add_element' id='"+prefix_id+"service_id' name='"+prefix_name+"[service_id]' value='" + value_service + "' style='width:120px' type='hidden'/></td></tr>"
      element += "<td><a class='remove-element button' href='#' onclick='removeService(" + indexService + ");'>remove</span></a></td>"
      element += "</fieldset>";
      var addElement = $(element) ;
      addElement.appendTo(".add-services") ;
      indexService = indexService + 1 ;
    }) ;
  });