%section#content
  .wrapper
    %section.grid_8.first
      %h4
        ="Medico: #{current_user.login}"
      .columns
        .grid_3.first
          %fieldset.panel
            %table
              %thead
                %tr
                  %td
                    ="organization: "
                  %td.class_right
                    =@organization.name
                %tr
                  %td
                    ="description: "
                  %td.class_right
                    =@organization.description
                %tr
                  %td
                    ="user: "
                  %td.class_right
                    =@organization.user.try :name
                %tr
                  %td
                    ="Activo: "
                  %td.class_right
                    =@organization.is_enabled ? "Si" : "No"
                %tr
                  %td
                    =link_to "save", organization_path(@organization.id), :class=>"button button-green"
                    =link_to "atras", organization_path(@organization.id), :class=>"button button-red"
                .ar
                  %a.add-element.action-button{:title=>"add"}
                    %span.add
        .grid_4
          = form_for @organization do |f|
            %fieldset.panel
              = f.fields_for :medicaments, @medicaments do |m|
                %p
                  =1
                .clearfix
                  = m.label :name
                  = m.text_field :name, :style=>"width:150px;"
                .clearfix
                  = m.label :external_code
                  = m.text_field :external_code, :style=>"width:100px;"
                .clearfix
                  = m.label :description
                  = m.text_area :description, :style=>"width:200px;height:60px;"
            .add-items      
:javascript
  function test(add_index){
    $('div fieldset.add_id' + add_index).remove();
  }
  $(document).ready(function(){
    var index = 2;
    $(".add-element").click(function() {
      var prefix_name = "organization[medicaments_attributes]["+index+"]";
      var prefix_id = "organization_medicaments_attributes_"+index+"_";
      var add_id = "add_id"+index;
      var element = "<fieldset class='" + add_id + " panel'><p>"+index+"</p>"
      element += "<td><a class='remove-element action-button' href='#' onclick='test(" + index + ");'><span class='delete'></span></a></td>"
      element += "<tr><td><label for='organization_medicaments_attributes_0_name'>" + 'Name' + ":</label><input class='add_element' id='"+prefix_id+"medicine' name='"+prefix_name+"[name]' style='width:150px' type='text'/></td></tr>"
      element += "<tr><td><label for='organization_medicaments_attributes_0_external_code'>" + ' External Code' + ":</label><input class='add_element' id='"+prefix_id+"dose' name='"+prefix_name+"[external_code]' style='width:100px' type='text'/></td></tr>"
      element += "<td><label for='organization_medicaments_attributes_0_description'>" + 'description' + ":</label><textarea class='add_element'  id='"+prefix_id+"description' name='"+prefix_name+"[description]' style='width:200px;height:60px;'/></td>"
      element += "</fieldset>";
      var addElement = $(element) ;
      addElement.appendTo(".add-items") ;
      index = index + 1 ;
    }) ;
  });