.wrapper.top
  .grid_8
    .grid_4.first.panel.padding1.background_gray_clear
      %h3
        = t :new_product
      .form
        .clearfix
          = f.label :name
          = f.text_field :name, :required => true
        .clearfix
          = f.label :unit_type
          = f.select :unit_type, options_for_select([[t(:piece), "piece"]]),{:include_blank => true}, :required => true #FIXME Agregar mas tipos de medida
        .clearfix
          = f.label :item_number
          = f.text_field :item_number, :type => :number, :required => true, :style => "width:120px;"
        .clearfix
          = f.label :description
          = f.text_area :description
        %hr/
        .ar
          .clearfix.top
            %button.button.background_orange.white{:type => "submit"}
              = t :save
            %button.button.background_gray.gray{:type => "reset"}
              = t :clear
            %a.button.background_gray.gray{:href => configuration_standards_path}
              = t :cancel

