.wrapper.top
  .grid_8
    .grid_4.first.panel.padding1.background_gray_clear
      %h3
        = t :new_product
      .form
        .clearfix
          = f.label :name
          = f.text_field :name, :required => true
        .clearfix
          = f.label :machinery
          = f.text_field :machinery, :required => true
        .clearfix
          = f.label :time_total_workday
          = f.text_field :time_total_workday, :type => :time, :required => true
        .clearfix
          = f.label :is_enabled
          = f.check_box :is_enabled
        .clearfix
          = f.label :comments
          = f.text_area :comments
        %hr/
        .ar
          .clearfix.top
            %button.button.background_orange.white{:type => "submit"}
              = t :save
            %button.button.background_gray.gray{:type => "reset"}
              = t :clear
            %a.button.background_gray.gray{:href => products_path}
              = t :cancel

