#header.background_red_gradient
  .wrapper
    %h1.shadow.float_left
      = t :sigpro
    .ar
      %h5.not_bold
        - if current_user.present?
          = t(:registered_as) + ": "
          %a.white.not_decoration{:href => "#"}
            = current_user.name
          = " | "
          %a.white.not_decoration{:href => destroy_session_p_config_user_sessions_path}
            = t :logout
          .clear
            - if current_user.is_manager?
              %a{:href => configurations_path, :style => "margin-right:15px;"}
                %img{:src => "/images/d02/icons/engine.png"}
        - else
          %a.action-button{:class => "modal", :rel => "#login_manager"}
            %span.key
          %a.not_decoration.white{:href => "#", :class => "modal", :rel => "#login_manager"}
            %h4.not_bold.float_right
              = t :dashboard
