#header.background_red_gradient
  .wrapper
    %h1.shadow.float_left
      = t :propymes
    .ar
      %h5.not_bold
        - if current_user.present?
          = t(:registered_as) + ": "
          %a.white.not_decoration{:href => "#"}
            = current_user.name
          = " | "
          %a.white.not_decoration{:href => destroy_session_user_sessions_path}
            = t :logout